<!-- <nav class="navbar navbar-expand-lg navbar-light bg-info">
    <a class="navbar-brand">Industrial Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact Us</a>
          </li>
      </ul>
</div>
</nav> -->

  <div class="bg-info">
    <button pButton type="button" (click)="visibleSidebar1()" class="btn btn-info">Industrial Management ☰</button>
    </div>
    <app-sidebar></app-sidebar>






